<%- include("partials/header") %>
<div class="container">
    <br>
    
    <form class="form-group" action="/register" method="POST">
        <h1>REGISTER</h1>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="btn btn-lg btn-primary" > Submit</button>
    </form>
</div>

<%- include("partials/footer") %>